body {
    height: 50%;
    width: 80%;
    zoom: 1;
}

button {
    color: red;
    width: 100px;
    height: 100px;
    font-size: 10px;
}

div {
    height: 100%;
    width: 100%;
    text-align: center;
}